<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Team</title>
    <link rel="stylesheet" href="/public/css/team.css" />
  </head>
  <body>
    <header>
      <h1>KELOMPOK 6</h1>
      <h1>OUR TEAM</h1>
    </header>
    <main>
      <section class="team-section">
        <div class="team-member">
          <img src="/public/images/fathurPP.jpg" alt="" />
          <h3>Muhamad Fathur Irwan</h3>
          <p>Position: Frontend</p>
        </div>
        <div class="team-member">
          <img src="/public/images/falah.jpg" alt="" />
          <h3>Ahmad Falah Prawira</h3>
          <p>Position: ERD</p>
        </div>
        <div class="team-member">
          <img src="/public/images/wiranto.jpg" alt="" />
          <h3>Wiranto Akbar Fadlillah</h3>
          <p>Position: Use Case</p>
        </div>

        <div class="team-member">
          <img src="/public/images/fahri.jpg" alt="" />
          <h3>Fahrizal Kusuma</h3>
          <p>Position: Report</p>
        </div>

        <div class="team-member">
          <img src="/public/images/andra.jpg" alt="" />
          <h3>Andra Ahmad</h3>
          <p>Position: Testing</p>
        </div>

        <div class="team-member">
          <img src="/public/images/egin.jpg" alt="" />
          <h3>Egin Pardewan</h3>
          <p>Position: Class Diagram</p>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <footer class="navbar navbar-expand-lg navbar-dark bg-dark mt-4">
      <div
        class="container-fluid d-flex justify-content-between align-items-center"
      >
        <span class="navbar-text text-light">
          &copy; 2025 Dunia Bioskop |
          <a href="/team" class="text-light text-decoration-none">My Team</a>
        </span>
        <a
          href="https://github.com/your-github-profile"
          class="btn btn-outline-light btn-sm"
          target="_blank"
        >
          <i class="fa fa-github"></i> GitHub
        </a>
      </div>
    </footer>
  </body>
</html>
